.btn {
	width: 18.8rem;
	height: 4.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
	border-radius: 50px;
	font-weight: 700;
	font-size: 1.6rem;
	line-height: 150%;
	text-align: center;
	color: #fff;

	&-color-purple {
		font-weight: normal;
		background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
	}
}