section.about
	.about__wrap
		img(src="img/about.png", alt="Компьютер")
		.about__info
			h2 Чем мы занимаемся
			p.
				Помогаем сэкономить до 40% стоимости игрового компьютера без потери производительности. Подбираем мощные детали компьютера, заказываем у своих поставщиков или напрямую у производителей, чтобы сэкономить ваши деньги. Собираем мощный компьютер, на котором можно играть в любые современные игры и заниматься работой.