section.commands
	.commands__head
		img(src="img/icon.svg", alt="Иконка")
		h2 Наша команда
	.commands__body
		.commands__members
			.commands__member
				img(src="img/member1.png", alt="member")
				h4 Евгений Петров
				p Специалист по видеокартам
				a(href="#") Биография
			.commands__member
				img(src="img/member2.png", alt="member")
				h4 Алексей Козлов
				p Специалист по видеокартам
				a(href="#") Биография
			.commands__member
				img(src="img/member3.png", alt="member")
				h4 Дмитрий Иванов
				p Специалист по видеокартам
				a(href="#") Биография