section.work
	.work__head
		.work__title
			img(src="img/icon.svg", alt="icon")
			h2 Процесс работы
		.work__description
			p.
				Подробно рассказываем о том, как происходит сборка, от заявки до выдачи вашего заказа
	.work__body
		.work__blocks
			.work__block
				h3 Заявка
				p Мы получаем вашу заявку, связываемся с вами для уточнения деталей, чтобы понять ваши ожидания от будущего компьютера.
			.work__block
				h3 Подбор
				p После оплаты подбираем комплектующие, которые дадут максимальную производительность. Заказываем их напрямую у поставщиков.
			.work__block
				h3 Сборка
				p Собираем компьютер, проводим стартовую диагностику, устанавливаем операционную систему и необходимые драйверы для работы.
			.work__block
				h3 Выдача
				p Отдаём компьютер вам в назначенный срок, проводим вместе тестирование, подписываем документы о выполнении работы и гарантии.
