//- Главная страница сайта
extends base
block content
	.wrapper
		img(src="img/main-screen.jpg", alt="задний фон", class="img-bg")
		.other-content
			include ./pug/components/header.pug
			.container
				include ./pug/components/main-block.pug